<h1>Profile</h1>
<div class="row">
    <div class="col s6">
        <img style="width:300px" src="" alt="">
    </div>
    <div class="col s6">
        <p>Your email <span></span></p>
        <form action="/courses/edit" method="post" class="p-3">

            <div class="input-field ">
                <input placeholder="Placeholder" value="{{user.name}}" id="first_name" type="text" name="name"
                    class="validate">
                <label for="first_name">name</label>
            </div>

            <div class="input-field ">
                <input id="last_name1" type="text" class="validate" name="password">
                <label for="last_name1">pass</label>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>

            <input type="hidden" name="_csrf" value="{{csurf}}">
            <br />
            <br />
            <button class="btn waves-effect waves-light" type="submit">
                edit
            </button>
    </div>
    </form>
</div>
</div>